<div class="card hero_table">
    <div class="card-body">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr *ngFor="let hero of heroes;index as i">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{hero.name}}
                    </td>
                    <td>
                        <div class="row">
                            <button  type="button" 
                            class="btn btn-outline-info waves-effect
                            waves-light item_actions"
                            (click)="onEdit(hero)"
                            >
                            Edit
                        </button>

                        <button  type="button" 
                            class="btn btn-outline-info waves-effect
                            waves-light item_actions"
                            (click)="onDelete(hero.id)"
                            >
                            Delete
                        </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button  type="button" 
                class="btn btn-outline-info waves-effect
                waves-light item_actions"
                (click)="onAdd()"
                >
                Add
            </button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>