<div class="row">
  <div class="col-md-12">
    <div class="card navigation_list">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="horizontal">
          <li ngbNavItem="dashboard" >
            <a ngbNavLink id="view_option">Dashboard</a>
            <ng-template ngbNavContent>
                <app-heroes-listing-dashboard></app-heroes-listing-dashboard>
            </ng-template>
            
          </li>
          <li ngbNavItem="table" >
            <a ngbNavLink id="view_option">Table</a>
            <ng-template ngbNavContent>
                <app-heroes-listing-table
                 [heroes]="heroes"
                 >
                </app-heroes-listing-table>
            </ng-template>
            
        </ul>
      </div>
    </div>
  </div>
</div>


<div>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>